// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #FFD700; //#ec663c;

$title-color:       rgba(255, 255, 255, 1);
$subtitle-color:    rgba(255, 255, 255, 0.9);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-calendar styles
// ----------------------------------------------------------------------------
.widget-google-calendar {

  background-color: $background-color;
  vertical-align: top !important;

  .subtitle {
    color: $subtitle-color;
    font-size: medium;
    margin: 0;
  }
  .title {
    color: $title-color;
    font-size: 1.4em;
    margin-bottom: 50px;
  }

  .item{
    margin-bottom: 10px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(0,0,0,0.8);
  }

  .updated-at {
    color: $subtitle-color;
    bottom: 5px;
    right: 5px;
    left: auto;
    font-size: 0.5em;
  }


  &.large h3 {
    font-size: 65px;
  }
}