<% content_for :title do %>Site Rex Dashboard<% end %>
<div class="gridster">
  <ul>
    <!--Row 1-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Logo" data-title="Data Collection" data-image="https://45.media.tumblr.com/95098a5af8764fe085d733dae9f83479/tumblr_n28te5GY1v1s12mqno1_500.gif"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="QuickStartSprint" data-view="JenkinsBuild" data-title="QuickStart" data-description="QuickStart Master" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="QuickStartMaster" data-view="JenkinsBuild" data-title="QuickStart" data-description="QuickStart Sprint" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="jenkins-last-commit-QS" data-view="Jenkinslastcommit" data-unordered="true" data-title="Last Commit on Master Branch" ></div>
    </li>


    <!--Row 2-->

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="jira_in_prog_issues" data-view="JiraListCurrentSprintIssues"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jira_qa_issues" data-view="JiraListCurrentSprintIssues"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-view="SprintProgress" data-id="sprintProgress"></div>
    </li>




  </ul>
</div>
