<% content_for :title do %>Site Rex Dashboard<% end %>
<div class="gridster">
  <ul>
    <!--Row 1-->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-view="Logo" data-title="On Boarding" data-image="/all_aboard.gif"></div>
    </li>
    <!--<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">-->
      <!--<div data-view="Jenkinslastcommit" data-title="Current Sprint/Days left in Sprint gray-blue"></div>-->
    <!--</li>-->
    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="jenkins-last-commit-QS" data-view="Jenkinslastcommit" data-unordered="true" data-title="Last Commit on Master Branch" ></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="SiteRex" data-view="JenkinsBuild" data-title="MASTER" data-description="Site Recommendations" data-min="0" data-max="100"></div>
    </li>


    <!--Row 2-->
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="klimato" data-view="Klimato"></div>
    </li>
    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="jira_in_prog_issues" data-view="JiraListCurrentSprintIssues"></div>
    </li>
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="jira_qa_issues" data-view="JiraListCurrentSprintIssues"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-view="SprintProgress" data-id="sprintProgress"></div>
    </li>
    <li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
        <!--yellow-->
        <div data-id="google_calendar" data-view="GoogleCalendar"></div>
    </li>
    <li data-row="2" data-col="6" data-sizex="1" data-sizey="2">
      <div data-view="DailyXKCD" data-id="xkcd-of-the-day"></div>
    </li>



  </ul>
</div>