// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  "#96bf48";

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// widget-foosroom styles
// ----------------------------------------------------------------------------
.widget-foos-room {

  background-color: $background-color;
  vertical-align: top !important;

  h1 {
    font-size: larger;
    color: $title-color;
    margin-bottom: 24px;
  }

  h3 {
    text-transform: uppercase;
    padding-bottom: 30px;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }


  &.large h3 {
    font-size: 65px;
  }
}
